.preload-canvas {
}

@media (orientation: portrait) {
  .preload-container {
    background-color: var(--canvasBackgroundColor);
    padding: var(--canvasPadding);
    height: var(--canvasPortraitHeight);
    width: var(--canvasPortraitWidth);

    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .preload-container {
    background-color: var(--canvasBackgroundColor);
    padding: var(--canvasPadding);
    height: var(--canvasLandscapeHeight);
    width: var(--canvasLandscapeWidth);
    display: flex;
    flex-direction: column;
  }
}
